html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #222;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-columns: 1fr 1fr 1fr;
}

header > img {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

div > img {
  width: 10%;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;
  grid-column: 1/-1;
}

nav ul {
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style-type: none;
 margin: 0;
 padding: 0;
 font-size: 1rem;
}

h1 {
  font-family: 'DM Serif Display', serif;
  grid-row: 3;
  grid-column: 1/-1;
  padding-left: 4rem;
}

nav a {
  margin: 1em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#AboutMe {
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template columns: 1fr 1fr;
  grid-template-areas:
    "heading image"
    "bodycopy image";
  margin: 6rem;
}

#AboutMe h2 {
  grid-area: heading;
  margin: 1rem;
}

#AboutMe div {
  grid-area: bodycopy;
  margin: 1rem;
}

#AboutMe img {
  grid-area: image;
  margin: 1rem;
}

#MyWork {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3fr);
  grid-template-rows: repeat(2fr);
  gap: 1rem;
  padding: 2rem; 0;
  margin: 6rem;
  width: 60%;
}

.project-1 {
  grid-row: 1;
  grid-column: 1;
  background-color: #F16587;
  color: #ffffff;
  padding: 1em;
}

.project-2 {
  grid-row: 1;
  grid-column: 2;
  background-color: #F16587;
  color: #ffffff;
  padding: 1em;
}

.project-3 {
  grid-row: 1;
  grid-column: 3;
  background-color: #F16587;
  color: #ffffff;
  padding: 1em;
}

.project-4 {
  grid-row: 2;
  grid-column: 1;
  background-color: #F16587;
  color: #ffffff;
  padding: 1em;
}

.project-5 {
  grid-row: 2;
  grid-column: 2;
  background-color: #F16587;
  color: #ffffff;
  padding: 1em;
}

.project-6 {
  grid-row: 2;
  grid-column: 3;
  background-color: #F16587;
  color: #ffffff;
  padding: 1em;
}

.project-1 img {
  width: 100%;
}

.project-2 img {
  width: 100%;
}

.project-3 img {
  width: 100%;
}

.project-4 img {
  width: 100%;
}

.project-5 img {
  width: 100%;
}

.project-6 img {
  width: 100%;
}

h2 {
  color: #F16587;
  font-weight: 600;
}

h3 {
  font-family: 'DM Serif Display', serif;
}

.projects a {
  font-size: 0.8rem;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: underline;
}

#ContactMe {
  text-align: center;
}

#ContactMe ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  margin: 4rem;
  border: 0;
  border-top: 1px solid #6d6e71;
}

footer {
  text-align: center;
}
